<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillMatch Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='DashBoard.css') }}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="banner">    
    <div class="nav">
        <a href="{{ url_for('pages.home') }}" class="navbar-item">
            Home
        </a>
          <a href="{{ url_for('pages.profile') }}" class="navbar-item">
            Profile
        </a>
            <a href="{{ url_for('pages.jobs') }}" class="navbar-item">
                Jobs
            </a>
            <a href="{{ url_for('pages.notifications') }}" class="navbar-item">
              Notifications
          </a>
            <a href="{{ url_for('pages.settings') }}" class="navbar-item">
                Settings
            </a>
            <a href="{{ url_for('pages.logout') }}" class="navbar-item">
                Logout
            </a>
    </div>
    
    <div class="content">
        <h2>Welcome to your dashboard</h2>
            <p>Here you can view your profile and search for jobs.</p>
            <p>Use the navigation bar to access different sections of the website.</p>
            <div class="search-bar">
            <form action="/search_results">
                <input type="text" name="query" placeholder="Search For Your Next Job..">
                <button type="submit"><i class='bx bx-search'></i></button>
                <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>            
            </form>
            </div>    
    </div>
    
</body>
</html>
