{% extends 'base.html' %}

{% block content %}
    <form id="signupForm" action="/signup" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number" required><br><br>

        <input type="submit" value="Sign Up">
    </form>
    <script src="{{ url_for('static', filename='validation.js') }}"></script>
    <script>
        document.getElementById("signupForm").addEventListener("submit", function(event) {
            //prevent form from submission
            event.preventDefault();
            //perform validation
            if(validateForm()) {
                //if succsess, submit form
                this.submit();
            }
        });
    </script>
{% endblock %}