/*for the body*/
body {
  font-family: sans-serif;
  font-size: 100;
  text-align: center;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover ;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
}

.navbar-item {
  margin-right: 40px;
  color: white;
  text-decoration: none;
}

/*for the links*/
a:visited {
  color: rgb(10, 147, 231);
}

/*for hovering over the links*/
a:hover {
  color: #0056b3;
}

/*navigator style*/
nav ul li {
  display: inline;
  margin: 0 50px; /* Reduce margin for the navigation links */
}

