<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillMatch Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='DashBoard.css') }}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="banner">    
    <div class="nav">
        <ul>
            <li><a href="base.html">Home</a></li>
            <li><a href="Profile.html">Profile</a></li>
            <li><a href="Jobs.html">Jobs</a></li>
            <li><a href="Notifications.html">Notifications</a></li>
            <li><a href="Settings.html">Settings</a></li>
        </ul>        
    </div>
    
    <div class="content">
        <h2>Welcome to your dashboard</h2>
            <p>Here you can view your profile and search for jobs.</p>
            <p>Use the navigation bar to access different sections of the website.</p>
            <div class="search-bar">
            <form action="/search_results">
                <input type="text" name="query" placeholder="Search For Your Next Job..">
                <button type="submit"><i class='bx bx-search'></i></button>
                <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>            
            </form>
            </div>    
    </div>
    
</body>
</html>